<!--<div style="display: flex; flex-wrap: wrap; gap: 3px;">-->
<!--  <div *ngFor="let skill of skills.slice(0, 12)" style="background: #d9d9d9;">-->
<!--    {{skill.skill}}-->
<!--    {{skill.count}}-->
<!--  </div>-->
<!--</div>-->

<!--<div *ngFor="let day of offersByDay" style="border: 1px solid black;">-->
<!--  {{day.day}}-->
<!--  {{day.count}}-->
<!--</div>-->
<div style=" width: 100%; gap: 1px; background: black; height: calc(100vh - 51px); position: relative">
  <div style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; height: 100%; width: 100%; display: flex; flex-flow: row; gap: 1px;  background: black">
    <div style="position: relative; height: 100%; flex: 2">
      <div style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; background: white">
        <app-line-chart style="flex: 2; "></app-line-chart>
      </div>
    </div>
      <div style="flex: 1; position: relative; background: white; height: 100%">
        <div style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; height: 100%; display: flex; flex-flow: column; background: black; gap: 1px;">
          <app-chart style="flex: 1; background: white"></app-chart>
          <app-pie-chart style="flex: 1; background: white;"> </app-pie-chart>
        </div>
    </div>
  </div>
</div>
