<div style="flex: 1; width: 100%; height: 100%; gap: 1px; background: blue; display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr">
  <div style="background: white" *ngFor="let day of daysInMonth"
  [style.background]="currentDay === day ? 'blue' : 'white'"
  >
    {{day}}
    <ng-container *ngFor="let cevent of calendarEvents">
      <div *ngIf="cevent.date.getMonth() + 1 == currentMonth && cevent.date.getDate() == day" style="background: white; margin: 8px; padding: 6px; border: 1px solid black;">{{cevent.name}}</div>
    </ng-container>
  </div>

  <button (click)="changeMonth(-1)">previous</button>
  <button (click)="changeMonth(1)">next</button>
  <div>
    <b>Desired skills:</b>
    <span>cybersecurity basics</span>
    <span>angular signals</span>
    <span>afegir scalability al porfoli/cv</span>
    <span>afegir expressió escrita al porfoli</span>
  </div>
</div>
